@tailwind base;
@tailwind components;
@tailwind utilities;

.border-multicolor {
  border-image: linear-gradient(90deg,#575a7b,#575a7b 20%,#f9655b 0,#f9655b 40%,#f5c070 0,#f5c070 60%,#6658ea 0,#6658ea 80%,#fcc 0) 1;
  border-width: 0;
  border-top: 4px solid;
}

.lift {
  transition: box-shadow .25s ease, transform .25s ease
}

.lift:hover,.lift:focus {
  box-shadow: 0 1rem 2.5rem rgba(27,22,66,0.1),0 0.5rem 1rem -0.75rem rgba(27,22,66,0.1) !important;
  transform: translate3d(0, -3px, 0)
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .5rem 0 .5rem 0;
  color: #1b1642;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25;
  padding: .25rem 0.75rem;
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-white {
  color: #1B1642;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 0 6px rgba(27,22,66,0.03),0 14px 24px rgba(27,22,66,0.06);
  color: #6658EA
}

.btn-white:hover {
  color: #1B1642;
  background-color: #fff;
  border-color: #fff
}

.btn-primary {
  color: #fff;
  background-color: #6658EA;
  border-color: #6658EA;
  box-shadow: 0 0 6px rgba(27,22,66,0.03),0 14px 24px rgba(27,22,66,0.06)
}

.btn-primary:hover {
  color: #fff;
  background-color: #574bc7;
  border-color: #5246bb
}

.btn:not([class*=btn-outline]) {
  border-color: transparent!important;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 0 6px rgba(27,22,66,.03),0 14px 24px rgba(27,22,66,.06)!important;
}

.suggestion-container {
  position: relative;
  top: -36px;
}

.select-item {
  background-color: #fff;
  &:hover {
    color: #fff;
    background-color: #6658ea;
  }
}
